body {
  font-family: 'Roboto', sans-serif;
  background: #612087;
}
.general-container {
  overflow: hidden;
}
h1 {
  font-family: 'East Sea Dokdo', cursive;
}
.menu {
  width: 15%;
  height: 100%;
  background: #612087;
  float: left;
}
.menu-title {
  font-size: 60px;
  width: 100%;
  font-weight: 900;
  padding-left: 66px;
  border-bottom: 2px solid #ffba00;
  color: #ffba00;
  line-height: 104px;
}
.menu-element {
  padding: 0 25%;
}
.menu-element ul li a {
  font-size: 30px;
  text-decoration: none;
  color: #ffba00;
}
.menu-element ul li a:hover {
  text-decoration: underline;
  text-decoration-color: #ffba00;
}
.menu-element ul li {
  margin-top: 15%;
}
.header {
  width: 100%;
  background: #ffba00;
  float: left;
}
.header img {
  width: 160px;
  height: 90px;
  padding: 8px 0px 8px 0px;
}
.img-container {
  float: left;
  width: 39%;
}
.icons {
  float: right;
  padding-top: 2%;
}
.icons i {
  font-size: 30px;
  margin-top: 2%;
  margin-right: 40px;
}
.fa-facebook-square {
  color: #612087;
}
.fa-twitter-square {
  color: #612087;
}
.fa-instagram {
  color: #612087;
}
.big-title-lakers h1 {
  font-size: 100px;
}
.big-title-lakers:hover {
  color: #612087;
  cursor: pointer;
  text-shadow: 2px 2px rgb(0,0,0,0.8);
}
.main {
  background: #222223;
  overflow: hidden;
}
.player {
  width: 20%;
  height: 40%;
  background: #ffba00;
  float: left;
  margin: 4%;
}
.player:first-child {
  margin-left: 12%;
}
.player h1 {
  font-size: 35px;
  line-height: 40px;
}
.img-opacty {
  max-height: 190px;
  overflow: hidden;
  position: relative;
}
.img-opacty a {
  font-size: 100px;
  color: #fff;
  text-align: center;
  padding-top: 70px;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  opacity: 0.5;
  background: #612087;
  text-decoration: none;
}
.img-opacty a:hover {
  color:  #ffba00;
}
.img-opacty img {
  width: 100%;
}
.information {
  padding-top: 12px;
}
.information span {
  font-size: 20px;
  display: block;
  margin-top: 8px;
  padding-left: 10px;
  font-family: 'Noto Serif', serif;
}
.alignt {
  margin-left: 25%;
}
.name {
  font-size: 20px;
  font-weight: 700;
  display: block;
  margin-top: 8px;
  padding-left: 10px;
  font-family: 'Noto Serif', serif;
}