body {
  font-family: 'Roboto', sans-serif;
  background: #612087;
}
.general-container {
  overflow: hidden;
}
h1 {
  font-family: 'East Sea Dokdo', cursive;
}
.menu {
  width: 15%;
  height: 100%;
  background: #612087;
  float: left;
}
.menu-title {
  font-size: 60px;
  width: 100%;
  font-weight: 900;
  padding-left: 28px;
  border-bottom: 2px solid #ffba00;
  color: #ffba00;
  line-height: 104px;
}
.menu-element {
  padding-left: 8%;
}
.menu-element ul li a {
  font-size: 30px;
  text-decoration: none;
  color: #ffba00;
  display: block;
}
.menu-element ul li a:hover {
  text-decoration: underline;
  text-decoration-color: #ffba00;
}
.menu-element ul li {
  margin-top: 15%;
}
.header {
  width: 100%;
  background: #ffba00;
  float: left;
}
.header img {
  width: 160px;
  height: 90px;
  padding: 8px 0px 8px 0px;
}
.img-container {
  float: left;
  width: 39%;
}
.icons {
  float: right;
  padding-top: 2%;
}
.icons i {
  font-size: 30px;
  margin-top: 2%;
  margin-right: 40px;
}
.fa-facebook-square {
  color: #612087;
}
.fa-twitter-square {
  color: #612087;
}
.fa-instagram {
  color: #612087;
}
.big-title-lakers  h1 a {
  font-size: 100px;
  text-decoration: none;
}
.big-title-lakers:hover {
  color: #612087;
  cursor: pointer;
  text-shadow: 2px 2px rgb(0,0,0,0.8);
}
.big-title-lakers a:active {
  color: black;
}
.main {
  background: #222223;
  overflow: hidden;
}
.player {
  width: 20%;
  background: #ffba00;
  float: left;
  margin: 4%;
}
.player:first-child {
  margin-left: 12%;
}
.player h1 {
  font-size: 35px;
  line-height: 40px;
}
.img-opacty {
  max-height: 190px;
  overflow: hidden;
  position: relative;
  background: black;
}
.img-opacty a {
  font-size: 100px;
  color: #fff;
  text-align: center;
  padding-top: 70px;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  opacity: 0.5;
  background: #612087;
  text-decoration: none;
}
.img-opacty a:hover {
  color:  #ffba00;
}
.img-opacty img {
  height: 170px;
  padding-left: 15%;
}

.player-information {
  padding: 40px 12px 40px 12px;
}
.player-information span {
  font-size: 20px;
  display: block;
  margin-top: 8px;
  padding-left: 10px;
  font-family: 'Noto Serif', serif;
}
.name {
  font-size: 20px;
  font-weight: 700;
  display: block;
  margin-top: 8px;
  padding-left: 10px;
  font-family: 'Noto Serif', serif;
}
.position {
  margin-left: 12%;
}
/* DETAY */
.detail-container {
  width: 60%;
  margin: 0 auto;
  padding-top: 4%;
  padding-bottom: 4%;
}
.player-detail {
  width: 100%;
}
.big-image p {
  color: #fff;
  width: 100%;
  line-height: 30px;
  padding-top: 5%;
  padding-right: 20%;
  font-size: 25px;
}
.big-image img {
  width: 100%;
}
.box-images {
  height: 190px;
}
.size {
  width: 235px;
}
.box-img-text {
  background: #612087;
  margin-top: 5%;
  overflow: hidden;
}
.box {
  float: left;
}
.player-text p {
  color: #ffba00;
  margin-top: 7%;
  font-size: 25px;
  padding-right: 1%;
}
.position-box {
  background: #ffba00; 
  overflow: hidden;
}
.box-2 {
  float: right;
}
.color p {
  color: #612087;
  padding-left: 3%;
  font-size: 25px;
}
.has-drop-down {
  position: relative;
}
.drop-down-menu {
  width: 100%;
  border-radius: 8px;
  border: 5px solid #612087;
  z-index: 1;
  background: #ffba00;
  display: none;
  position: absolute;
  padding-left: 10px;
  top: 0px;
  left: 100%;
}
.drop-down-menu ul li {
  margin-top: 5%;
  margin-bottom: 15px;
}
.drop-down-menu ul li a {
  color: #612087;
}
.drop-down-menu ul li a:hover {
  color: black;
}
.has-drop-down:hover .drop-down-menu {
  display: block;
}

/* GIRLS */
.height {
  height: 89.1%;
}

/* TICKET */
.ticket-general {
  width: 70%;
  padding-top: 3%;
  margin: 0 auto;
}
.ticket {
}
.ticket-box {
  width: 100%;
  margin-bottom: 5%;
  background: #612087;
  overflow: hidden;
}
.match-img {
  width: 291px;
  height: 291px;
  float: left;
}
.ticket-box-information {
  margin-top: 2%;
  margin-left: 2%;
  float: left;
}
.ticket-box-information h1 {
  color: #ffba00;
  font-size: 55px;
}
.ticket-box-information span {
  display: block;
  margin-top: 1%;
  color: #fff;
  margin-bottom: 5%;
}
.ticket-box-information p {
  margin-right: 10%;
  font-size: 23px;
  display: inline-block;
  color: #ffba00;
}
.price {
  position: relative;
}
.price a {
  font-size: 30px;
  position: absolute;
  top: 70px;
  text-decoration: none;
  color: #fff;
}
.price a:hover {
  color: #ffba00;
}
.right-ticket-image {
  float: right;
  width: 291px;
  height: 291px;
}
.ticket-color {
  background: #ffba00;
}
.right h1 {
  color: #612087;
}
.right p {
  font-size: 23px;
  color: #612087;
}
.price-color a:hover {
  color: #612087;
}